<server>
    <!--These elements have been identified from this application's configuration.-->
    <featureManager>
        <feature>adminCenter-1.0</feature>
        <feature>springboot-3.0</feature>
<!--        <feature>webProfile-10.0</feature>-->
<!--        <feature>openidConnectClient-1.0</feature>-->
<!--        <feature>mpJwt-2.1</feature>-->
<!--        <feature>appSecurity-5.0</feature>-->
        <feature>ssl-1.0</feature>
        <feature>servlet-6.0</feature>
        <feature>pages-3.1</feature>
    </featureManager>

    <!-- SSL Configuration -->
    <keyStore id="defaultKeyStore" location="keystore.jks" password="password" type="JKS" />

    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustDefaultCerts="true"/>

    <httpEndpoint host="*" httpPort="80" httpsPort="443" id="defaultHttpEndpoint">
        <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" />
    </httpEndpoint>

    <springBootApplication id="cmod" location="thin-cmodApp.jar" name="cmod">
        <applicationArgument>--server.servlet.context-path=/</applicationArgument>
    </springBootApplication>

    <administrator-role>
        <user>djans</user>
    </administrator-role>

    <application-bnd>
        <security-role name="admin">
            <user name="djans@cogitosum.com"/>
            <group name="administrators"/>
        </security-role>
    </application-bnd>
    <!--
    <security>
        <loginModule ref="OIDC" />
    </security>
     -->
</server>