<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <th:block th:replace="~{fragments/header :: scripts}"/>
    </head>
    <body>
    <!-- HEADER -->
        <div th:replace="~{fragments/header :: header}">Header</div>
        <div class="container">
            <div class="text-center">
                <h1>Thymeleaf Layouts</h1>
                <h2 th:replace="~{fragments/header :: title}"></h2>
            </div>

            <!-- SEARCH -->
            <div class="text-center">
                <h1>Search</h1>
                <h2 th:replace="~{fragments/search :: search}"></h2>
            </div>

            <!-- RESULT -->
            <div th:unless="${isHidden}">
                <div class="text-center">
                    <h1>Result </h1>
                    <h2 th:replace="~{fragments/result :: result}"></h2>
                </div>
            </div>
        </div>
    <div th:replace="~{fragments/footer :: footer}">Footer</div>
    </body>
</html>
