<html xmlns:th="http://www.thymeleaf.org">

<!-- SCRIPTS -->
    <div th:fragment="scripts">
        <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../webapp/resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
        <link href="../../../webapp/resources/css/dataTables.bootstrap5.css" rel="stylesheet" media="screen" th:href="@{/css/dataTables.bootstrap5.css}"/>
        <link href="../../../webapp/resources/css/custom.css" rel="stylesheet" media="screen" th:href="@{/css/custom.css}"/>

        <script th:src="@{/js/jquery-3.7.1.js}"></script>
        <script src="../../../webapp/resources/js/dataTables.bootstrap5.js" th:src="@{/js/dataTables.bootstrap5.js}"></script>
        <script src="../../../webapp/resources/js/dataTables.js" th:src="@{/js/dataTables.js}"></script>
        <script src="../../../webapp/resources/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script>
            $('#example').DataTable();
        </script>
    </div>

<!-- HTML HEADER -->

    <div th:fragment="header">
        <div class="custom-container">
            <div>
                <p th:text="#{Bienvenue}">Default Greeting</p>
            </div>
            <!-- Language Switcher -->
            <div>
                <a href="/changeLanguage?lang=fr">Français</a> |
                <a href="/changeLanguage?lang=en">English</a>
            </div>
        </div>
    </div>

    <div th:fragment="title">
        Mon titre
    </div>
</html>