<server>
    <!--These elements have been identified from this application's configuration.-->
    <featureManager>
        <feature>adminCenter-1.0</feature>
        <feature>springboot-3.0</feature>
        <feature>ssl-1.0</feature>
        <feature>servlet-6.0</feature>
    </featureManager>

    <!-- SSL Configuration -->

    <httpEndpoint host="*" httpPort="80" httpsPort="443" id="defaultHttpEndpoint" sslRef="defaultSSLConfig"/>
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultKeyStore"/>
    <keyStore id="defaultKeyStore" location="resources/keystore.jks" password="password" type="JKS" trustDefaultCerts="false" sslProtocol="TLSv1.2" />

    <springBootApplication id="RDI" location="thin-cmodApp.jar" name="RDI">
        <applicationArgument>--server.servlet.context-path=/</applicationArgument>
    </springBootApplication>


    <!--
    <security>
        <loginModule ref="OIDC" />
    </security>
     -->
</server>